.header {
  background: orange;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
  z-index: 999;
  top: 0;
  &__logo {
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    &:hover {
      color: green;
    }
  }
  &__cart {
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    &:hover {
      color: green;
    }
  }
}

.footer {
  background-color: rgb(194, 127, 4);
  padding: 20px 40px;
  text-align: center;
  font-size: 18px;
}